@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@theme {
  --font-primary: 'DM Sans', sans-serif;

  --clr-primary-gradient: linear-gradient(#ffc593, #bc7198 52%, #5a77ff);
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray-400: #dfdfdf;
}

body {
  @apply font-primary bg-blue-300 text-black;
}

.my-container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
